src/main/mule/junk.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6c61022c-1eb3-406a-b659-d1a66380073d" >
		<http:listener-connection host="0.0.0.0" port="8092" />
	</http:listener-config>
	<flow name="junkFlow" doc:id="36c17800-4ae1-44a9-8e79-280e08a4eee9" >
		<http:listener doc:name="Listener" doc:id="277ce284-88ed-4ee7-bbd9-d3f2f8b193b3" config-ref="HTTP_Listener_config" path="/junk"/>
		<logger level="INFO" doc:name="Logger" doc:id="061cb115-c553-4c66-bc87-def785e95b54" message="#[payload]"/>
	</flow>
</mule>
